<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/css/style.css">

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/clientChat.js" defer></script>
    <script src="/js/clientGame.js" defer></script>
  </head>
  <body class="gamePage">
    <div class="gameUI">
        <!-- Use ejs for all four player names -->
        <div class:"player">
            <h1><%= player1.username %></h1>
            <h2><%= player1.balance %></h2>
        </div>

        <div class="player">
            <h1><%= player2.username %></h1>
            <h2><%= player2.balance %></h2>
        </div>

        <div class="player">
            <h1><%= player3.username %></h1>
            <h2><%= player3.balance %></h2>
        </div>

        <div class="player">
            <h1><%= player4.username %></h1>
            <h2><%= player4.balance %></h2>
        </div>

        <!-- Make the buttons and give them ids -->
        <input id="raiseAmount" type="number" name="amount">
        <button id="raiseButton">Raise</button>

        <button id="foldButton">Fold</button>

        <button id="checkButton">Check/Call</button>

        <div class="chatBody">
          <form id="transferForm" action="">
            <label for="to">To:<input name="to" id="to" autocomplete="off" /></label>
            <label for="amount">Amount:<input name="amount" id="amount" autocomplete="off" /></label>
            <button>Transfer</button>
          </form>

          <ul id="messages"></ul>

          <form id="chatForm" action="">
            <input id="chatMessage" autocomplete="off" /><button>Send</button>
          </form>
        </div>
  </body>
</html>
