<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/css/style.css">

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/clientGame.js" defer></script>
  </head>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
    <script src="/card.js" defer></script>
  </head>
  <body>
    <button id="addCard">Add Card</button>
    <div id="cards"></div>
  </body>

  <h1><%= room1.pot %></h1>
  <body class="gamePage">
    <div class="gameUI">
      <ol id="gameMessages"></ol>
        <!-- Use ejs for all four player names -->
        <div class:"player">
          <%= room1.playerUsernames[0] %>   <%= room1.playerBankRolls[0] %>
          <ol>
            <%= room1.playerHands[0][0].name %>
            <%= room1.playerHands[0][1].name %>
            <%= room1.playerHands[0][2].name %>
            <%= room1.playerHands[0][3].name %>
            <%= room1.playerHands[0][4].name %>
          </ol>
        </div>

        <div class="player">
          <%= room1.playerUsernames[1]    <%= room1.playerBankRolls[0] %>
          <ol>
            <%= room1.playerHands[1][0].name %>
            <%= room1.playerHands[1][1].name %>
            <%= room1.playerHands[1][2].name %>
            <%= room1.playerHands[1][3].name %>
            <%= room1.playerHands[1][4].name %>
          </ol>
        </div>

        <div class="player">
          <%= room1.playerUsernames[2] %>   <%= room1.playerBankRolls[0] %>
          <ol>
            <%= room1.playerHands[2][0].name %>
            <%= room1.playerHands[2][1].name %>
            <%= room1.playerHands[2][2].name %>
            <%= room1.playerHands[2][3].name %>
            <%= room1.playerHands[2][4].name %>
          </ol>
        </div>

        <div class="player">
          <%= room1.playerUsernames[3] %>   <%= room1.playerBankRolls[0] %>
          <ol>
            <%= room1.playerHands[3][0].name %>
            <%= room1.playerHands[3][1].name %>
            <%= room1.playerHands[3][2].name %>
            <%= room1.playerHands[3][3].name %>
            <%= room1.playerHands[3][4].name %>
          </ol>
        </div>

        <!-- Make the buttons and give them ids -->
        <input id="raiseAmount" type="number" name="amount">
        <button id="raiseButton">Raise</button>

        <button id="foldButton">Fold</button>

        <button id="checkButton">Check/Call</button>

        <ul id="addRaise"></ul>
  </body>
</html>
