<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/css/style.css">

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/clientChat.js" defer></script>
  </head>
  <body class="gamePage">
    <div class="gameUI">
        <!-- Use ejs for all four player names -->
        <div class:"player">
            <h1><%= player1.username %></h1>
            <h2><%= player1.balance %></h2>
        </div>

        <div class="player">
            <h1><%= player2.username %></h1>
            <h2><%= player2.balance %></h2>
        </div>

        <div class="player">
            <h1><%= player3.username %></h1>
            <h2><%= player3.balance %></h2>
        </div>

        <div class="player">
            <h1><%= player4.username %></h1>
            <h2><%= player4.balance %></h2>
        </div>

        <!-- Make the buttons and give them ids -->
        <form id="raise" method="get" action="/raise">
          <label for="raise">Amount: <input name="raise" id="raise" autocomplete="off" /></label>
          <button>Raise</button>
        </form>

        <form id="fold" method="get" action="/fold">
          <button>Fold</button>
        </form>

        <form id="call" method="get" action="/call">
          <button>Check/Call</button>
        </form>
    </div>
  </body>
</html>
